body {
  font-size: 16px;
  color: black;
  background-color: white; 
}
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 25px;
  margin: 0px 15px 30px 0;
}
.navbar-brand h1{ /* Restaurant name */
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list{
	margin-bottom: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#page-header{
	color: black;
	font-size: 1.8em;
	text-shadow: 1px 1px 1px #222;
}

.row{
	margin: 10px;
}
#content-box {
	margin: 10px;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
	height: 800px;
}
#item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

